<div class="content">
    <div class="bltype1">
        <div class="left">
            <h2>новинки коллекции</h2>
            <p>Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada</p>
            <a href="#">Перейти к новинкам »</a>
        </div>
        <div class="right">
            <img src="img/image.png">
        </div>
    </div>

    <a href="#" class="bltype2">
        <div class="text">
            <h2>Капсульные коллекции</h2>
        </div>
        <div class="imgt2">
            <img src="img/image-1.png">
        </div>
    </a>

    <a href="#" class="bltype2">
        <div class="text">
            <h2>Перейти<br> в каталог</h2>
        </div>
        <div class="imgt2">
            <img src="img/image-2.png">
        </div>
    </a>

    <div class="bltype1">
        <div class="left">
            <h2>хиты<br> продаж</h2>
            <p>Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada</p>
            <a href="#">Перейти к хитам продаж »</a>
        </div>
        <div class="right">
            <img src="img/image-3.png">
        </div>
    </div>
</div>