<div class="footer-blocks">
    <div class="footer-blocks__block">
        <img class="footer-blocks__block-image" src="img/calendar.svg" alt="datepicker">
        <p class="footer-blocks__block-text">Российское<br>производство</p>
    </div>
    <div class="footer-blocks__block">
            <img class="footer-blocks__block-image" src="img/calendar.svg" alt="datepicker">
            <p class="footer-blocks__block-text">Еженедельное<br>обновление</p>
    </div>
    <div class="footer-blocks__block">
            <img class="footer-blocks__block-image" src="img/calendar.svg" alt="datepicker">
            <p class="footer-blocks__block-text">Широкий<br>размерный ряд</p>
    </div>
    <div class="footer-blocks__block">
            <img class="footer-blocks__block-image" src="img/calendar.svg" alt="datepicker">
            <p class="footer-blocks__block-text">Натуральные<br>ткани</p>
    </div>
    <div class="footer-blocks__block">
            <img class="footer-blocks__block-image" src="img/calendar.svg" alt="datepicker">
            <p class="footer-blocks__block-text">Оперативная<br>доставка</p>
    </div>
</div>