<div class="menu">
        <a class="menu-logo" href="">MIRONI</a>
        <nav class="menu">
        <ul class="menu-items  menu_hidden">
          <li><a class="menu-items__item menu-items__item-1" href="#">Новинки</a></li>
          <li><a class="menu-items__item menu-items__item-2" href="#">Каталог</a></li>
          <li><a class="menu-items__item menu-items__item-3" href="#">Sale</a></li>
          <li><a class="menu-items__item menu-items__item-4" href="#">Условия сотрудничества</a></li>
          <li><a class="menu-items__item" href="#">Доставка и оплата</a></li>
        </ul>
        <div class="menu-contacts">
            <p class="menu-contacts__email">sale@mironistyle.ru</p>
            <p class="menu-contacts__phone">8 (499) 123-45-67</p>
        </div>
        <div class="menu-icons menu_hidden">
            <a href="#"><img src="img/search.png" alt="search" class="menu-icons__item-1"></a>
            <a href="#"><img src="img/bag.png" alt="shop" class="menu-icons__item-2"></a>
            <a href="#"><img src="img/user.png" alt="user" class="menu-icons__item-3"></a>
        </div>
        <nav>
    </div>

    <ul id="menu" class="desk_hidden">
        <li><a href="#">Новинки</a></li>
        <li><a href="#">Каталог</a></li>
        <li><a href="#">Sale</a></li>
        <li><a href="#">Условия сотрудничества</a></li>
        <li><a href="#">Доставка и оплата</a></li>
        <a href="#"><img src="img/search.png" alt="search" class="menu-icons__item-1"></a>
        <a href="#"><img src="img/bag.png" alt="shop" class="menu-icons__item-2"></a>
        <a href="#"><img src="img/user.png" alt="user" class="menu-icons__item-3"></a>
    </ul>