<div class="slider mainSlider">
    <div class="slide">
        <div class="container">
            <div class="row slide__info">
                <p class="slide__overHeader">Коллекция</p>
                <p class="slide__header">Осень-Зима 18-19</p>
                <p class="slide__text">Производство и оптовая продажа женской одежды.</p>
                <p class="slide__text">Качественная брендовая одежда по хорошим ценам.</p>

                <div class="border">
                    <div class="around">
                      <div class="button">
                        <button href="#" class="slide__button">Перейти в каталог</button>
                      </div>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide">
            <div class="container">
                    <div class="row slide__info">
                        <p class="slide__overHeader">Коллекция</p>
                        <p class="slide__header">Осень-Зима 18-19</p>
                        <p class="slide__text">Производство и оптовая продажа женской одежды.</p>
                        <p class="slide__text">Качественная брендовая одежда по хорошим ценам.</p>
                        <div class="border">
                            <div class="around">
                              <div class="button">
                                <button href="#" class="slide__button">Перейти в каталог</button>
                              </div>
                            </div>
                            <div class="line"></div>
                        </div>
                    </div>
            </div>
    </div>
    <div class="slide">
            <div class="container">
                    <div class="row slide__info">
                        <p class="slide__overHeader">Коллекция</p>
                        <p class="slide__header">Осень-Зима 18-19</p>
                        <p class="slide__text">Производство и оптовая продажа женской одежды.</p>
                        <p class="slide__text">Качественная брендовая одежда по хорошим ценам.</p>
                        <div class="border">
                            <div class="around">
                              <div class="button">
                                <button href="#" class="slide__button">Перейти в каталог</button>
                              </div>
                            </div>
                            <div class="line"></div>
                        </div>
                    </div>
            </div>
    </div>
    <div class="slide">
            <div class="container">
                    <div class="row slide__info">
                        <p class="slide__overHeader">Коллекция</p>
                        <p class="slide__header">Осень-Зима 18-19</p>
                        <p class="slide__text">Производство и оптовая продажа женской одежды.</p>
                        <p class="slide__text">Качественная брендовая одежда по хорошим ценам.</p>
                        <div class="border">
                            <div class="around">
                              <div class="button">
                                <button href="#" class="slide__button">Перейти в каталог</button>
                              </div>
                            </div>
                            <div class="line"></div>
                        </div>
                    </div>
            </div>
    </div>
    <div class="slide">
            <div class="container">
                    <div class="row slide__info">
                        <p class="slide__overHeader">Коллекция</p>
                        <p class="slide__header">Осень-Зима 18-19</p>
                        <p class="slide__text">Производство и оптовая продажа женской одежды.</p>
                        <p class="slide__text">Качественная брендовая одежда по хорошим ценам.</p>
                        <div class="border">
                            <div class="around">
                              <div class="button">
                                <button href="#" class="slide__button">Перейти в каталог</button>
                              </div>
                            </div>
                            <div class="line"></div>
                        </div>
                    </div>
            </div>
    </div>
</div>